.cardsmain{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -100px;
   

}
.card3{
    margin-left: 30px;
}
.card2{
    margin-left: 30px;
}
.card11{
    width: 18rem;
   height: 28rem;
}

.card11:hover {
    /* width: 25rem; */
    /* background-color: blue; */
    margin-top: 20px;
    cursor: pointer;
  }


  